@import "../assets/gutenberg";

[data-type="wp-bootstrap-blocks/button"] {
	&[data-alignment="center"] {
		text-align: center;
	}

	&[data-alignment="right"] {
		text-align: right;
	}
}

.wp-block-wp-bootstrap-blocks-text-input {
	box-sizing: border-box;
	min-width: auto;
	width: 90vw;
	max-width: 350px;
	padding: 8px 16px;
	color: $white;
}
